<h2>Edit Album</h2>

<form class="edit_album_form" action="/albums/<%= @album.id %>/edit" method="POST">
  <label for="title">Album Title:</label>
  <input type="text" name="title" value="<%= @album.title %>" id="title">

  <label for="name">Artist Name:</label>
  <input disabled type="text" name="name" value="<%= @album.artist.name %>" id="artist_name">

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" value="<%= @album.quantity %>" id="quantity">

  <input type="hidden" name="artist_id" value="<%= @album.artist_id %>">

  <input type="submit" value="Edit Album"/>
</form>
