<h2>Edit Album</h2>

<form class="edit_album_form" action="/albums/<%= @album.id %>/edit" method="POST">
  <label for="artist_name">Select Artist:</label>
  <select name="artist_id" selected="<%= @album.artist_id %>">
    <% @artists.each do |artist| %>
      <% if artist.id == @album.artist_id %>
        <option value=<%= artist.id %> selected><%= artist.swap_the %></option>
      <% else %>
        <option value=<%= artist.id %>><%= artist.swap_the %></option>
      <% end %>
    <% end %>
  </select>

  <label for="title">Album Title:</label>
  <input type="text" name="title" value="<%= @album.title %>" id="title">

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" value="<%= @album.quantity %>" id="quantity">

  <input type="submit" value="Edit"/>
</form>
