<div class="title">
  <h2>ALBUMS</h2>
</div>

<div class="search">
  <% @first_char_from_titles.each do |char| %>
  <h2><a href="/albums/filter/<%= char.downcase %>"><%= char %></a></h2>
  <% end %>
</div>

<div>
<h3><a href="/albums/new">Add Album</a></h3>
</div>

<hr>

<div class="list">
  <% @albums.each do |album| %>
    <% if album.title != @recently_added_album.title %>
      <p><a href="/albums/<%= album.id %>"> <%= album.title %> </a></p>
    <% else %>
      <p><a href="/albums/<%= album.id %>"> <%= album.title %> </a> -- recently added --</p>
    <% end %>
  <% end %>
</div>
