<div class="title">
    <div class="title-add">
        <h2><a href="/albums">ALBUMS</a></h2>
    </div>

  <p><em>(<%= @albums.count %>)</em></p>

  <div class="title-add">
      <h3>| <a href="/albums/new">Add</a> |</h3>
  </div>
</div>

<div class="search">
  <% @first_char_from_titles.each do |char| %>
  <h2><a href="/albums/filter/<%= char.downcase %>"><%= char %></a></h2>
  <% end %>
</div>


<div class="index-table">
  <table>
    <body>
      <% @albums.each do |album| %>
        <% if album.title != @recently_added_album.title %>
          <tr>
            <td><a href="/albums/<%= album.id %>"><%= album.title  %> </a></td>
          </tr>
        <% else %>
          <tr>
            <td><a href="/albums/<%= album.id %>"><%= album.title  %> </a>-- recently added --</td>
          </tr>
        <% end %>
      <% end %>
    </body>
  </table>
</div>
<br>
<hr>
