<div class="title">
  <h2><%= @album.title %></h2>
  <div class="title-edit">
    <h3>| <a href="/albums/<%= @album.id %>/edit">Edit</a> |</h3>
  </div>
</div>

  <div class="show-album">
    <div class="inputs">
      <p>Artist:</p> <p><%= @album.artist.swap_the() %></p>
    </div>

    <div class="inputs">
      <p>Availible Stock:</p> <p><%= @album.quantity %></p>
    </div>

    <div class="inputs">
        <p>Price:</p> <p>£<%= @album.price %></p>
    </div>

  </div>

<br>
<hr>
