<div class="title">
  <h2>ARTISTS</h2>
  <div class="title-add">
    <h3>| <a href="/artists/new">Add</a> |</h3>
  </div>
</div>

<div class="search">
  <% @first_char_from_names.each do |char| %>
  <h2><a href="/artists/filter/<%= char.downcase %>"><%= char %></a></h2>
  <% end %>
</div>


<!-- adds tag showing artist was recintly added if poped from list %> -->
<!-- index artists alphabetically while ignoring 'The' prefix -->

<div class="list">
  <% @artists.each do |artist| %>
  <% name = artist.swap_the()%>
    <% if name != @recently_added_artist.swap_the() %>
      <p><a href="/artists/<%= artist.id %>"> <%= name  %> </a></p>
    <% else %>
        <p><a href="/artists/<%= artist.id %>"> <%= name %> </a> -- recently added --</p>
    <% end %>
  <% end %>
</div>
<br>
<hr>
