
<div class="search">
  <% @first_char_from_names.each do |char| %>
  <h1><a href="/artists/filter/<%= char.downcase %>"><%= char %></a></h1>
  <% end %>
</div>

<h2>ARTISTS</h2>

<h3><a href="/artists/new">Add Artist</a></h3>

<!-- adds tag showing artist was recintly added if poped from list %> -->
<!-- index artists alphabetically while ignoring 'The' prefix -->
<% @artists.each do |artist| %>
<% name = artist.swap_the()%>
  <% if name != @recently_added_artist.swap_the() %>
    <p><a href="/artists/<%= artist.id %>"> <%= name  %> </a></p>
  <% else %>
      <p><a href="/artists/<%= artist.id %>"> <%= name %> </a> -- recently added --</p>
  <% end %>
<% end %>
