<div class="title">
  <h2><%= @artist.swap_the() %></h2>
  <div class="title-edit">
    <h3>| <a href="/artists/<%= @artist.id %>/edit">Edit</a> |</h3>
  </div>
</div>

<div class="title gray">
  <h2>Albums</h2>
  <div class="title-add">
    <div class="title-add">
      <h3>| <a href="/albums/<%= @artist.id  %>/new">Add</a> |</h3>
    </div>
  </div>
</div>


<div class="artist-albums">

  <ul>
    <% @artist.albums.each do |album| %>
    <li><a href="/albums/<%= album.id %>"><%= album.title %></a></li>
    <% end %>
  </ul>
</div>


<hr>
