<h2><%= @artist.swap_the() %></h2>

<a href="/artists/<%= @artist.id %>/edit">Edit</a>

<h3>Albums</h3>

<ul>
  <% @artist.albums.each do |album| %>
  <li><a href="/albums/<%= album.id %>/edit"><%= album.title %></a></li>
  <% end %>
</ul>

<a href="/albums/<%= @artist.id  %>/new">Add Album</a>
