<div class="title">
  <h2><%= @artist.swap_the() %></h2>
</div>

<div class="add">
  <h3><a href="/artists/<%= @artist.id %>/edit">Edit</a></h3>
</div>


<hr>

<div class="artist-albums">
  <h2>Albums</h2>

  <ul>
    <% @artist.albums.each do |album| %>
    <li><a href="/albums/<%= album.id %>/edit"><%= album.title %></a></li>
    <% end %>
  </ul>
</div>


<hr>

<a href="/albums/<%= @artist.id  %>/new">Add Album</a>
